<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">PREPÁRATE PARA SURFEAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/flowrider/assets/flowrider-surf-simulator-sunset-rider-trick.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Domina las emocionantes olas interminables del simulador de surf FlowRider de 12 metros de largo. Toma tu tabla y prepárate, 113.562 litros de aguas torrentosas te esperan. 
      Déjate llevar con la delicadeza de un experto o acepta el desafío de mantener el equilibrio
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">INSPIRADOR BAJO CUALQUIER PRISMA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/two70/starwater/image/quantum-starwater-show-performer-singer-audience-entertainment.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Durante el día, es una sala de estar abierta con vistas panorámicas a través de ventanas de dos cubiertas de alto. 
      De noche, las luces se apagan, las ventanas se convierten en pantallas y el espacio cobra vida con equilibristas, robots y mucho más. 
      Esto es Two70, un lugar que puede transportarte a cualquier sitio
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">LA COCTELERÍA SE FUSIONA CON LA TECNOLOGÍA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/bionic-bar/drink-cocktail-bionic-bar-woman-arm-cup-technology.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Con unos movimientos tan fluidos como el Pimm's de tu copa, estos dos bármanes robóticos saben cómo agitar, revolver y arrojar una combinación casi infinita 
      de deliciosos cócteles, desde clásicos gin martinis y Long Island Ice Tea, hasta pedidos personalizados diseñados por ti
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DELICIAS GLOBALES</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/izumi/izumi-miso-ramen-soup-noodles-beef.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Cocina al estilo chino que puedes preparar junto a tu mesa en The Hot Pot. Rollos de sushi hechos a mano y sabores japoneses en Izumi. 
      Y platos inspirados en la Toscana servidos al estilo familiar en Jamie's Italian de Jamie Oliver. En el Quantum of the Seas, tus papilas degustarán sabores de todo el mundo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">GASTRONOMÍA CONECTADA</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/chops-grille/quantum-of-the-seas-chops-grille-venue.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Buscas una experiencia elegante? Disfruta de una cita a bordo del Quantum of the Seas con servicio de talla mundial y todos tus cortes clásicos favoritos en Chop's Grille. 
      O bien, descubre la experiencia culinaria más exclusiva a bordo: una íntima experiencia gastronómica de cinco platos de primera categoría en Chef's Table.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SABORES SIN COMPLICACIONES</h2>
    </ion-item>
    <ion-img 
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/sorrentos-pizza/sorrentos-pizza-close-up-cheese-vegetarian.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿En busca de algo rápido, fresco y sin complicaciones? Ahórrate la espera y cena en tu propio horario en Windjammer, arma un hot dog a tu gusto en Dog House, 
      o disfruta de la auténtica pizza al estilo de Nueva York en Sorrento's. En el Quantum of the Seas, incluso la comida para llevar es muy buena. 
    </div>
   </ion-content>
</div>