<div class="ion-page" id="quehacer-voyager-page">
  <ion-content>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/the-perfect-storm/girl-sliding-in-the-perfect-storm.jpg?$711x443$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">THE PERFECT STORM</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      Tres pisos de altura con emociones salvajes y húmedas, los dos toboganes acuáticos en The Perfect Storm 
      son increíblemente emocionantes. Llévate a un amigo y compite a través de giros, vueltas y paneles 
      translúcidos que ofrecen vistas inolvidables hasta el final de los toboganes Typhoon y Cyclone.
    </div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ship/mariner-of-the-seas/ttd/MA-mariner-of-the-seas-laser-tag-dad-playing.png?$711x443$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">COMBATE CON PISTOLAS LÁSER</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      En un futuro lejano, en una remota galaxia, dos fuerzas están destinadas a enfrentarse 
      en la batalla del planeta Z. Uno, los últimos restos de una civilización robot. 
      El otro, un grupo de aterrizaje alienígena de un sistema solar que pronto será consumido por una meganova. 
      Es una batalla con rayos infrarrojos por el control del último planeta en una batalla épica con pistolas láser. 
      Toma tu herramienta intergaláctica y prepárate para pasarla como nunca en Studio B. 
    </div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/adventure-ocean/navigator-of-the-seas-adventure-ocean-rock-climbing-wall.jpg?$711x443$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">ADVENTURE OCEAN</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      Renovamos los espacios de recreo a bordo del Voyager of the Seas, con espacios 
      recién rediseñados para niños y jóvenes. El galardonado Programa Juvenil Adventure Ocean 
      llega completamente renovado. Disfruta ahora de un rediseñado espacio abierto y libre para jugar, 
      con asombrosas actividades en cada esquina. Además, los jóvenes pueden bajar las revoluciones 
      y divertirse en el renovado Living Room, que posee un nuevo espacio de relajación al aire libre, la Cubierta posterior.
    </div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/flowrider-girl-knees-boogie-board-balance-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      Las olas siempre están listas en el simulador de surf de 12 metros de largo FlowRider a bordo del Voyager of the Seas. 
      Toma tu tabla y prepárate, 113.562 litros de aguas torrentosas te esperan. 
      Intenta el carving como los profesionales, o solo mantén el equilibrio, mientras tus amigos te animan desde las gradas.
    </div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/majesty-of-the-seas/things-to-do/hero-pic/stone-massage-woman-relaxing-things-to-do-hero.JPG?$711x443$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">GIMNASIO Y SPA VITALITY</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      Sal renovado, relajado y rejuvenecido del nuevo gimnasio y spa Vitality en el Voyager of the Seas. 
      Después de explorar durante un día, descubrirás que las instalaciones con estilo zen no son solo un lugar lujoso.
    </div>
   </ion-content>
</div>