.colorBlanco{
    color:white;
}

.align-center{
    text-align: center;
}

.titulo{
    text-align: center;
    margin: 50px;
}

.perfil{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px 15px;
}