<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      La supersecuela más nueva de Icon Class, Star of the Seas, lo tiene todo, para que todos los miembros de tu tripulación puedan mostrar "uno u otro" la puerta 
      y pasar el mejor momento de su vida. Son emociones alucinantes, relajación de otro nivel, vínculos más audaces, celebraciones épicas y exploración apasionante, 
      todo ello en una escapada de una semana que está a punto de pasar a la historia como el próximo icono de las vacaciones. 
      La aventura comienza en el verano de 2025 desde Puerto Cañaveral con la línea de cruceros votada como Mejor en general por los lectores de Travel Weekly 
      durante 21 años consecutivos.
    </h3>
    <ion-img
      src="https://www.royalcaribbeanpresscenter.com/media_photos/low_1701726981_RCI-ST-Aerial-Aft-Night-CGI01-RT-crop-LR.jpg">
    </ion-img>
</div>