<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Pon emocionantes aventuras en el radar a bordo del asombroso Explorer of the Seas. 
        Descubre un sinfín de formas de maximizar los recuerdos con atracciones favoritas de la flota, como el simulador de surf FlowRider, 
        la pared de escalar y The Perfect Storm, el dúo de toboganes acuáticos más audaz en alta mar. 
        Y siéntate para disfrutar noche tras noche de espectáculos de patinaje sobre hielo que te dejarán con la boca abierta 
        y de entretenimiento deslumbrante de clase mundial. Embárcate en tu viaje más legendario con la compañía de cruceros votada como la mejor por los lectores de Travel Weekly.
      </h3>
      <ion-img
        src="https://d1s1eppccu7prd.cloudfront.net/ew0KICAiYnVja2V0IjogInByb2Qtc2VydmljZS1pdHJhdmVsY2RuLWVuaGFuY2VidWNrZXQtY2Y0cTZkcXY5djI4IiwNCiAgImtleSI6ICJlbmhhbmNlL2ltYWdlcy9jMTJjY2U5NS01ZjBmLTQ3ZmUtOWViMS05MzYwMmU0ZWFmNGVfMS03MV8xXzEwMDBfNTg1LmpwZyIsDQogICJlZGl0cyI6IHsNCiAgICAicmVzaXplIjogew0KICAgICAgIndpZHRoIjogODAwLA0KICAgICAgImhlaWdodCI6IDQwMCwNCiAgICAgICJmaXQiOiAiY292ZXIiDQogICAgfSwNCiAgICAidG9Gb3JtYXQiOiAianBlZyIsDQogICAgInJvdW5kQ3JvcCI6IGZhbHNlLA0KICAgICJqcGVnIjogew0KICAgICAgInF1YWxpdHkiOiA2MCwNCiAgICAgICJwcm9ncmVzc2l2ZSI6IHRydWUNCiAgICB9DQogIH0NCn0=">
      </ion-img>
  </div>
</ion-content>
