<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Si te encantan las aventuras de otro nivel, la gastronomía de clase mundial y el entretenimiento estelar, te encantará escaparte en unas vacaciones a 
        bordo del Brilliance of the Seas. Esta estrella nivela la aventura con emocionantes destinos y actividades favoritas a bordo. Alcanza nuevas alturas 
        y enfréntate a la pared de escalar insigne para ascender 12 metros sobre la cubierta. Bebe cócteles artesanales en un bar giratorio con vistas espectaculares. 
        Y disfruta de entretenimiento interminable que te hará cantar y reír a carcajadas
      </h3>
      <ion-img
        src="https://www.seascanner.es/images/23733/1/e0eacc79-9dc0-49b9-9e34-42ae8f491ba8_BRILLIANCE-At%20Sea%208%20%281%29.jpg?w=1200">
      </ion-img>
  </div>
</ion-content>
