<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">RIPCORD BY IFLY</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/ripcord-by-ifly/ripcord-by-iFly-instructor-activity.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Estás preparado para sentir la emoción? Ni siquiera debes abandonar el barco para experimentar la emoción de una caída libre. 
      Ponte el traje y entra en RipCord by iFLY, un simulador de paracaidismo que te levantará del suelo y te dejará volar con ingravidez en el aire.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">AUTOS DE CHOQUE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/bumper-cars/bumper-cars-sea-plex.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Entra en toda la acción de velocidad, virajes y giros a bordo de este favorito de la flota. Royal Caribbean llevó los autos de choque al mar, 
      así que agárrate al volante y disfruta de la diversión a alta velocidad en SeaPlex, el entorno más amplio dedicado a actividades de interior a bordo de un crucero.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">NORTH STAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/north-star/quantum-of-the-seas-north-star-sunset-sea-day.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      North Star ostenta el récord Guinness de "La plataforma de observación más alta de un crucero". Ingresa a la cápsula de observación y disfruta la vista panorámica 
      del océano y las playas circundantes mientras subes a más de 90 metros sobre las olas.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IZUMI</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/izumi-dinner-assorted-plates-dish.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Izumi Sushi, todo está en el sushi enrollado por expertos, el nigiri y sashimi frescos, y los aperitivos al estilo izakaya que te vendrán de maravillas. 
      Desde los rollitos de primavera especiales de camarón fritos hasta el sabroso yaki udon, este es un mini tour de sabores del Lejano Oriente.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">JAMIE'S</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/jamies-italian/jamies-italian-steak-frites-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Jamie's Italian by Jamie Oliver, cada bocado se prepara para transportarte a la Toscana. Piensa en pastas artesanales salteadas en salsas sabrosas, 
      aperitivos para compartir hechos con ingredientes frescos de la estación y postres deliciosos que garantizan que cada comida termine con un toque dulce.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">CHEF'S TABLE</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chefs-table/chefs-table-food-dish.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Chef's Table, la experiencia gastronómica más exclusiva de la flota, impresionará a los amantes de la comida más exigentes. 
      Únase a un grupo pequeño de conocedores culinarios y pruebe cinco exquisitos platos que van acompañados con vino, todo presentado por el chef del restaurante del barco.
    </div>
   </ion-content>
</div>