<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Observa cómo los robots preparan jugosas creaciones personalizadas en el Bionic Bar. Mejora tu experiencia en una suite del Suite Club, 
        el alojamiento más lujoso en alta mar con acceso a una variedad de servicios exclusivos. También puedes renovar la forma de crear los recuerdos familiares 
        en Ultimate Family Suite, un extenso refugio con muchas habitaciones, que cuenta con su propio tobogán en la suite y sala de cine, que también puede 
        usarse como escenario de karaoke. 
      </h3>
      <ion-img
        src="https://img.nauticexpo.es/images_ne/photo-g/31356-15795066.jpg">
      </ion-img>
  </div>
</ion-content>
