<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Disfruta de un paisaje espectacular desde North Star, la posición estratégica más alta de cualquier crucero, o dirígete a SeaPlex para revolucionar el tiempo en familia. 
        Pasa la tarde patinando con tu grupo de aventuras en una pista de patinaje sobre ruedas, luego desafíalos en los autos de choque o en un juego de baloncesto: 
        el ganador tendrá derecho a presumir. Cuando esté listo para reponer fuerzas, deje que su apetito lo lleve a cualquiera de los 17 restaurantes inolvidables que 
        lo esperan a bordo. Solo en Royal Caribbean, la compañía de cruceros votada como la mejor durante 21 años consecutivos por los lectores de Travel Weekly.   
      </h3>
      <ion-img
        src="https://www.royalcaribbeanpresscenter.com/media_photos/1683126646_369-Port-Vila-Vanuatu.jpg">
      </ion-img>
  </div>
</ion-content>
