<div class="ion-page" id="descripcion-voyager-page">
  <p></p>
    <h3 class="titulo">
      Disfruta de tres pisos repletos de giros y aventuras inolvidables en los dos toboganes acuáticos 
      de alta velocidad en The Perfect Storm o forma parte de un enfrentamiento con pistolas láser 
      que brillan en la oscuridad en Battle for Planet Z. Practica surf en el simulador de surf FlowRider 
      o también puedes renovarte en el spa y Solarium solo para adultos. Además, puede disfrutar de Voyager Dunes, 
      patinar sobre hielo, subir la pared de escalar y sorprender a los niños y jóvenes con nuestros espacios totalmente rediseñados. 
    </h3>
    <ion-img
      src="https://d1s1eppccu7prd.cloudfront.net/ew0KICAiYnVja2V0IjogInByb2Qtc2VydmljZS1pdHJhdmVsY2RuLWVuaGFuY2VidWNrZXQtY2Y0cTZkcXY5djI4IiwNCiAgImtleSI6ICJlbmhhbmNlL2ltYWdlcy8zNGEwOGRiZS1lMGUwLTRjMmYtYjIwNS1lYzE3ZmU5NjQyMDBfMS03MV8xXzEwMDBfNTg1LmpwZyIsDQogICJlZGl0cyI6IHsNCiAgICAicmVzaXplIjogew0KICAgICAgIndpZHRoIjogODAwLA0KICAgICAgImhlaWdodCI6IDQwMCwNCiAgICAgICJmaXQiOiAiY292ZXIiDQogICAgfSwNCiAgICAidG9Gb3JtYXQiOiAianBlZyIsDQogICAgInJvdW5kQ3JvcCI6IGZhbHNlLA0KICAgICJqcGVnIjogew0KICAgICAgInF1YWxpdHkiOiA2MCwNCiAgICAgICJwcm9ncmVzc2l2ZSI6IHRydWUNCiAgICB9DQogIH0NCn0=">
    </ion-img>
</div>