<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      Prepárate para una maravilla de la ingeniería y la imaginación hecha barco: el Symphony of the Seas es todo eso y más. 
      Todas tus atracciones favoritas a bordo, lo que incluye la prueba de valentía de diez pisos de altura, Ultimate Abyss y los dos simuladores de surf FlowRider, 
      además de las novedades, como las revolucionarias pistolas láser que brillan en la oscuridad. 
      Y las atracciones que desafían la cubierta no son lo único que puedes esperar cuando navegas a bordo de este crucero de la clase Oasis. 
      El Symphony of the Seas también está repleto de formas deliciosas de tentar a tu paladar, como Playmakers Sports Bar & Arcade, y de nuevas formas de alojarte, 
      como el Ultimate Family Suite. ¡A disfrutar de la aventura!
    </h3>
    <ion-img
      src="https://www.wilsonbutler.com/assets/Symphony-of-the-Seas.jpg">
    </ion-img>
</div>