<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">SOLARIUM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/solarium/vision-of-the-seas-solarium-pool.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      El Vision of the Seas tiene muchas actividades para toda la familia, pero si anhelas tener un momento para los adultos, dirígete al Solarium. 
      Este tranquilo oasis solo para adultos alberga una piscina, burbujeantes jacuzzis, un bar con servicio completo y mucho espacio para relajarte bajo el sol o la sombra
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">PARED DE ESCALAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/rock-climbing-wall/rockwall-young-boy-climbing.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Si te atreves a enfrentar el desafío, te esperan vistas panorámicas en la cumbre de la pared de escalar de 12 metros. 
      No necesitas ser profesional para lanzarte a la aventura en vertical. Simplemente ponte el arnés, prepárate para flexionar tus músculos y disfruta de la escalada
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">ENTRETENIMIENTO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/broadway-rhythm-and-rhyme/image/grandeur-rhythm-and-rhyme-broadway-performers-shows-entertainment.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Cada noche, este barco se menea al ritmo de deslumbrantes producciones originales que van desde musicales y espectáculos inspirados en la música disco, 
      hasta bandas en vivo y largas noches en la pista de baile
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IZUMI</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/izumi/izumi-sushi-specialty-roll-raw.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Encontrarás sushi enrollado por expertos, nigiri y sashimi frescos, aperitivos al estilo izakaya y carnes saladas cocinadas sobre piedras para asar ishiyaki. 
      Elige el menú de degustación de cuatro platos o pide a la carta: todo lo que sale de la cocina aquí apuesta a ganador
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">GIOVANNI'S</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/giovannis-table/giovannis-table-italian-bites-appetizer.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Para auténticas comidas inspiradas en la Toscana, dirígete a Giovanni's Table. Comienza con la focaccia y las alcachofas marinadas de la casa, 
      luego elige un sabroso osobuco de ternera o un tradicional risotto cremoso. Y no olvides dejar espacio para una porción (o varias) de tiramisú
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHOPS GRILLE</h2>
    </ion-item>
    <ion-img 
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/chops-grille/chops-grille-rosemary-steak-juicy.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Este favorito de la flota ofrece una experiencia en carnes magnífica... en alta mar. Pide una cena con deliciosos platos de mariscos o tiernos bistecs de la 
      mejor calidad y acompáñalos con guarniciones familiares que son tan deliciosas como los platos principales a los que acompañan. Termina con un cheesecake estilo Nueva York.
    </div>
   </ion-content>
</div>