<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      Presentamos el Utopia of the Seas, el barco que transformará los fines de semana para siempre. 
      Con las más de 40 variedades de comidas y bebidas, podrás satisfacer todos tus antojos. Los nuevos espectáculos populares sobre el escenario, 
      el hielo, el agua y el aire, te dejarán con la boca abierta. Ganarás el derecho a presumir todos los días con 18 toboganes que te llenarán de adrenalina, 
      así como a darte chapuzones hasta caer rendido, tanto a bordo como en la playa de nuestra galardonada isla privada Perfect Day at CocoCay. 
      Este es el World's Biggest Weekend, ahora con salidas desde Puerto Cañaveral.
    </h3>
    <ion-img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Utopia_of_the_Seas_La_Rochelle-b.jpg/1200px-Utopia_of_the_Seas_La_Rochelle-b.jpg">
    </ion-img>
</div>