<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        No importa por qué lugar del mundo navegues, el Serenade of the Seas te mantiene cerca de todo el esplendor natural. 
        Una vez a bordo, las vistas panorámicas y acres de vidrio garantizan que no te pierdas ni un momento del entorno. 
        Entre aventuras en tierra, puedes tomar el sol junto a la piscina, jugar en el green de minigolf y disfrutar de sabores de clase mundial que te llevarán de la Toscana a Tokio.
      </h3>
      <ion-img
        src="https://www.royalcaribbeanpresscenter.com/media_photos/1626787483_tatoosh-20210717-0012-1.jpg">
      </ion-img>
  </div>
</ion-content>
