<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">CUBIERTA DE PISCINA AMPLIADA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/pool/navigator-of-the-seas-lime-and-coconut-pool.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Pasa en nuestras piscinas unos días maravillosos, repletos de emocionantes aventuras y opciones para descansar. 
      El renovado Navigator of the Seas dispone del doble de superficie dedicada a piscinas, así como de una cubierta entera con más espacio para relajarse, 
      nadar y vivir momentos especiales bajo el sol. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">THE BLASTER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/blaster/navigator-of-the-seas-blaster-mother-son.jpg?$750x420$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Vive una experiencia electrizante al bajar por el tobogán acuático más largo de alta mar: The Blaster. Deja que cinco surtidores de agua a presión te impulsen junto 
      a tus amigos por descensos, caídas y el tramo de tobogán más prolongado del mundo suspendido sobre el agua. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">RIPTIDE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/riptide/navigator-of-the-seas-riptide-woman-in-slide.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Observa la corriente: estás a punto de dejarte llevar por el Riptide, el único tobogán acuático que te permite lanzarte de cabeza en una carrera sobre alfombras en alta mar, 
      con una emocionante curva que sale por el costado del barco.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">HOOKED SEAFOOD</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/hooked-seafood/navigator-of-the-seas-hooked-seafood-bar.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prueba el verdadero sabor de Nueva Inglaterra en Hooked Seafood, un local gastronómico especializado en pescado y marisco. 
      Desde pasteles de cangrejo y deliciosas sopas cremosas hasta ostras recién traídas del mar, aquí encontrarás los productos más frescos. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">JAMIE'S ITALIAN DE JAMIE OLIVER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/jamies-italian/assets/jamies-italian-dessert-chocolate.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Jamie's Italian de Jamie Oliver, disfrutarás de platos inspirados en la Toscana, como la popular y famosa tabla y las pastas elaboradas en el propio restaurante, 
      todo creado por uno de los chefs más famosos del Reino Unido
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JOHNNY ROCKETS EXPRESS</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/johnny-rockets-express/navigator-of-the-seas-johnny-rockets-express-pool.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Tus platos favoritos de comida rápida no podrían estar más cerca de la cubierta de piscinas y te esperan en Johnny Rockets Express. 
      Hamburguesas, patatas fritas e incluso batidos con alcohol para los adultos con ganas de probar algo diferente. 
    </div>
   </ion-content>
</div>