<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">A SURFEAR SE HA DICHO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/mariner-of-the-seas-perfect-storm-flowrider.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Toma una tabla y súbete a ella: el simulador de surf FlowRider de 12 metros de largo es el mejor lugar para pasar el rato. 
      Domina las olas erguido como un profesional o deslízate sobre tu vientre mientras 113.562 litros de aguas torrentosas te mantienen a flote. 
      También puedes animar a tus amigos desde la orilla y mojarte cada vez que caigan.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DOMINA LA PISTA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/ice-skating/ice-skating-girls-friends-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Después de un día de nuevos descubrimientos y de descanso bajo el sol en la terraza de la piscina, 
      ponte los patines y lleva la aventura a la zona de diversión en la pista de patinaje sobre hielo a bordo. 
      No importa si eres novato o un patinador experto, todos los amantes de las emociones fuertes son bienvenidos en el hielo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">ÚNETE A LA FIESTA EN LA PISCINA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/pool/jewel-of-the-seas-pool-deck.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Relájate y empápate de la atmósfera isleña en la cubierta de piscinas. 
      Las familias se divertirán en la piscina principal, hogar de competencias de planchazos, 
      películas bajo las estrellas y fiestas de baile con un DJ. Si buscas algo de relajación para adultos, 
      dirígete al Solarium solo para adultos, donde todo está en las vistas al mar sin fin y la serenidad. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SABORES SIN COMPLICACIONES</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/windjammer/symphony-of-the-seas-windjammer-breakfast-eggs-toast-avocado.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Embárcate en una aventura trotamundo gourmet en Windjammer, donde un menú en constante cambio destaca la cocina 
      de todo el mundo en estaciones de autoservicio. Saborea platos que te llevarán de Jamaica a Jaipur en el restaurante principal. 
      Y deléitate con sándwiches deli-style y antipasti de inspiración mediterránea en Café Promenade. ¿La mejor parte? Todo está incluido en la tarifa del crucero.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UN PLACER DEL LEJANO ORIENTE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/explorer-of-the-seas-izumi-assortment-sushi.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prepárate para saborear tu camino a Japón y más allá con sashimi fresco, sushi enrollado a mano, aperitivos estilo izakaya 
      y sabrosos entrantes de inspiración asiática preparados por un chef maestro en tu mesa. En este restaurante de especialidad 
      de primer nivel, la cena siempre va acompañada de un espectáculo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UN CORTE SUPERIOR AL RESTO</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/serenade-of-the-seas/things-to-do/hero-pic/chops-grille-dinner-table-food-wine-things-to-do-hero.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Durante más de una década, los chefs de Chops Grille presentaron con orgullo bistecs cortados a mano de la mejor calidad en el distintivo restaurante de Royal Caribbean.
    </div>
   </ion-content>
</div>