<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/mariner-of-the-seas-cruise-ship-flow-rider-surfing-onboard-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Toma tu tabla y prepárate, 113.562 litros de aguas torrentosas te esperan. El surf siempre está activo en el simulador de surf de 12,1 metros de largo FlowRider.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UNA AVENTURA SERPENTEANTE Y SINUOSA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/the-perfect-storm/mariner-of-the-seas-the-perfect-storm-cyclone-typhoon-kids-celebrating.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Busca a alguien con quien competir y lánzate por dos sinuosos toboganes de tres pisos repletos de giros y descensos: Typhoon y Cyclone. 
      Las condiciones son perfectas para The Perfect Storm.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">DIVERSIÓN TAN INTENSA COMO EL FRÍO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/laser-tag/oasis-of-the-seas-laser-tag-clash-for-the-crystal-city.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      El sol se extinguió hace muchísimos años y la Tierra se convirtió en un páramo congelado inhabitable para toda clase de vida, excepto para dos clanes: 
      los Yetis y los Snowshifters. Pero después de miles de años sin luz, ellos también están a punto de extinguirse. A menos que uno de los clanes tome 
      el control en este último combate con pistolas láser que brillan en la oscuridad: Clash for the Crystal City.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHOPS GRILLE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chops-grille/Chops-Grille-Grilled-NY-Strip-Steak-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Durante más de una década, los chefs de Chops Grille presentaron con orgullo bistecs cortados a mano de la mejor calidad en el distintivo restaurante de Royal Caribbean.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">TAN BUENO QUE ES DE LOCOS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/el-loco-fresh/el-loco-fresh-family-meal-mexican-cuisine.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      El Loco Fresh lleva la fiesta junto a la piscina para que disfrutes de todos tus platos favoritos bajo el sol, como burritos, tacos y quesadillas, 
      además de un bar con servicio completo con tequila.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UN PLACER DEL LEJANO ORIENTE</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/freedom-of-the-seas-hibachi-chef-eggs.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Di "konnichiwa" a tu plato favorito reinventado en Izumi Hibachi & Sushi. Sashimi, sushi y muchos platos más, todos hechos a la carta con sabores intensos, 
      los mejores ingredientes y una presentación impecable.
    </div>
   </ion-content>
</div>