<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">DIVERSIÓN DESAFIANDO LA GRAVEDAD</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/ripcord-by-ifly/ifly-ripcord-little-girl-flying-instructor.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      El viento soplando con fuerza contra tu rostro, ningún punto de apoyo bajo tus pies y la adrenalina inundando tu cuerpo mientras flotas
      en el aire. No hay prisa en el mundo como la que se experimenta en el paracaidismo. En el simulador RipCord by iFLY,
      podrás sentir la libertad y emoción de practicar paracaidismo sin abandonar la cubierta. Es momento
      de que te liberes.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">DIVERSIÓN TAN INTENSA COMO EL FRÍO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/laser-tag/oasis-of-the-seas-laser-tag-clash-for-the-crystal-city.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      La Tierra se ha convertido en un páramo congelado inhabitable para toda clase de vida, 
      excepto para dos clanes: los Yetis y los Snowshifters. Para sobrevivir, uno de los clanes 
      debe tomar el control en este último combate con pistolas láser que brillan en la oscuridad: Clash for the Crystal City.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/flowrider-surf-simulator-instructor-man-jump-air-trick-skill-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Vive la experiencia del emocionante simulador de surf de 12 metros de largo FlowRider, 
      donde las olas siempre son altas. Prepárate para enfrentarte a los 113.562 litros de agua que te esperan. 
      Ya sea que las domines como un profesional o que simplemente intentes mantener el equilibrio, tus amigos pueden animarte desde las cómodas gradas.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">RESTAURANTES DE PRIMERA CATEGORÍA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chops-grille/chops-grille-rosemary-steak-juicy.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Sorprende a tu pareja o a la familia al completo en el restaurante especializado en carnes con servicio de talla mundial Chop's Grille, 
      o disfruta de un festín exclusivo de cinco platos en Chef's Table. También podrás degustar un banquete de delicias creativas servidas 
      en un entorno de lo más original en Wonderland. Estos platos están hechos para satisfacer cualquier apetito.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">GASTRONOMÍA GLOBAL</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/teppanyaki/teppanyaki-hibachi-vegetable-grill.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prepara tus papilas gustativas para un viaje culinario con sabores que te llevarán a lo largo y ancho del planeta, 
      como el delicioso sushi preparado a mano de Izumi y los platos orientales de Teppanyaki, directo en tu mesa y servidos 
      al instante. En Giovanni's Italian Kitchen & Wine Bar, tu comida favorita se sirve todos los días. 
      El menú destaca los clásicos del Viejo Mundo, que incluyen albóndigas de ternera en salsa como las que se preparan en Cerdeña y Pappardelle con rica crema de achicoria.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">BOCADOS INFORMALES</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/el-loco-fresh/assets/el-loco-fresh-nachos-tacos-close-up-flipped.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prueba los sabores de México junto a la piscina con tacos y burritos clásicos en El Loco Fresh. 
      Y si tanta emoción te abre el apetito, toma un trozo de pizza al más puro estilo de Nueva York en Sorrento's. 
      Encuentra una gran variedad de platos estrella que gustan a todos en el local autoservicio Windjammer. 
      Aquí tienes una lista detallada de los mejores sitios en los que comer de forma gratuita en un crucero, 
      junto con información sobre los horarios de desayuno, almuerzo y cena tanto en Windjammer como en el restaurante principal.
    </div>
   </ion-content>
</div>