<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Quédate más tiempo en destinos icónicos a bordo de un barco diseñado para la exploración. El Radiance of the Seas, el barco con la mayor cantidad de 
        ventanas de la flota de Royal Caribbean, es perfecto para observar los glaciares en Alaska y tomar el sol en los trópicos. 
        Cuando no estés persiguiendo aventuras en tierra, relájate junto a la piscina mientras disfrutas de las vistas, estira los músculos en la pared de escalada 
        en roca y canta con las espectaculares actuaciones a bordo. 
      </h3>
      <ion-img
        src="https://www.royalcaribbeanincentives.com/content/uploads/RCI_RD-Alaska-2013-004-1240x660.jpg">
      </ion-img>
  </div>
</ion-content>
