<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Hay un gran mundo lleno de lugares nuevos para explorar, y Vision of the Seas es el barco perfecto para verlo. 
        No importa por dónde lo recorras, el barco cuenta con mil y un maneras de crear recuerdos entre las aventuras en tierra, 
        como espectáculos al estilo de Broadway, restaurantes que nunca fallan y actividades que hacen que cada momento a bordo sea digno de asombro
      </h3>
      <ion-img
        src="https://www.cruisemapper.com/images/ships/612-bdcf65ece5a3.jpg">
      </ion-img>
  </div>
</ion-content>