<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">THE PERFECT STORM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/the-perfect-storm/perfect-storm-guest-selfie-water-slide-riding-activity.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Busca a alguien con quien competir y lánzate por dos sinuosos toboganes de tres pisos repletos de giros y descensos: Typhoon y Cyclone. 
      Las condiciones son perfectas para The Perfect Storm.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/flowrider-surf-simulator-instructor-man-jump-air-trick-skill-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Vive la experiencia del emocionante simulador de surf de 12 metros de largo FlowRider, donde las olas siempre son altas. 
      Prepárate para enfrentarte a los 113.562 litros de agua que te esperan. Ya sea que las domines como un profesional o que simplemente intentes mantener el equilibrio, 
      tus amigos pueden animarte desde las cómodas gradas.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SPLASHAWAY BAY</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/adventure-of-the-seas/things-to-do/hero-pic/adventure-of-the-seas-splashaway-bay-kids-playing-things-to-do-hero.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¡Diversión a raudales! Este parque acuático de mayor tamaño y mejores características que el anterior cuenta con toboganes, cañones de agua, cascadas y mucho más. 
      Y cuando el cubo se llene... ¡sorpresa refrescante para todos!
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FISH & SHIPS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/british-isles/british-take-away-fish-and-ships.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Disfruta de tus platos rebozados favoritos en Fish & Ships, el nuevo local de pescados y mariscos que se encuentra a pasos de la piscina.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IZUMI</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/Izumi-Sushi-chef-Prep-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Di "Konnichiwa" a tu plato favorito reinventado. Sushi, sashimi y muchos platos más, todos hechos a la carta con sabores intensos, los mejores ingredientes y una presentación impecable. Eso sí que es un planazo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHOP'S GRILLE</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chops-grille/assets/chops-grille-steakhouse-overlay-fries.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Por más de una década, los chefs de Chops Grille han presentado con orgullo bistecs cortados a mano de la mejor calidad en el distintivo restaurante de Royal Caribbean.
    </div>
   </ion-content>
</div>