<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      Visita los lugares que siempre soñaste a bordo del galardonado Anthem of the Seas. Desde vistas de 360 grados en la cápsula de observación North Star hasta 
      paracaidismo simulado en RipCord by iFLY y los únicos autos de choque en alta mar, este crucero que maximiza los recuerdos es tu boleto a 
      experiencias de otro nivel y a una aventura única en la vida. 
    </h3>
    <ion-img
      src="https://i.ytimg.com/vi/H-9-t2sRITQ/maxresdefault.jpg">
    </ion-img>
</div>