<ion-content>
  <ion-item color="primary">
    <h2 class="centrar">CAMAROTES INTERIORES</h2>
  </ion-item>
  <p></p>
  <div class="align-center">Nuestros camarotes interiores incluyen una amplia variedad de servicios para toda la familia.</div>
  <p></p>
  <ion-img
    src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-interior-living-room.jpg?$520x1040$" style="width: 70%" class="img">
  </ion-img>
  <p></p>
  <ion-item color="primary">
    <h2 class="centrar">VISTA AL OCÉANO</h2>
  </ion-item>
  <p></p>
  <div class="align-center">Saborea las vistas del mar e instantáneas de paisajes de costa a costa.</div>
  <p></p>
  <ion-img
    src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-oceanview-living-room.jpg?$520x1040$" style="width: 70%" class="img">
  </ion-img>
  <p></p>
  <ion-item color="primary">
    <h2 class="centrar">CAMAROTES CON BALCÓN</h2>
  </ion-item>
  <p></p>
  <div class="align-center">Hazte con tu trozo del paraíso con vistas desde el balcón justo fuera de la puerta.</div>
  <p></p>
  <ion-img 
    src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-balcony-living-room.jpg?$520x1040$" style="width: 70%" class="img">
  </ion-img>
  <ion-item color="primary">
    <h2 class="centrar">SUITE</h2>
  </ion-item>
  <p></p>
  <div class="align-center">Dos habitaciones en una, añade cocina, comedor y oficina, te sentiras como en casa</div>
  <p></p>
  <ion-img 
    src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ship/voyager-of-the-seas/rooms/NV-RoyalFamSuite-Living1R.jpg?$520x1040$" style="width: 70%" class="img">
  </ion-img>
</ion-content>
