<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">CASINO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/casino-royale/navigator-of-the-seas-casino-card-table-chips-winning.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Deseas tener un pedacito de Las Vegas durante tu crucero? Dirígete a Casino Royale, donde la acción nunca se detiene. 
      Prepárate para disfrutar de tus juegos favoritos, desde la ruleta hasta el póquer o las tragamonedas, o participa en un torneo para poner a prueba tu suerte y tus habilidades.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">PELÍCULAS JUNTO A LA PISCINA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/outdoor-movie-nights/explorer-of-the-seas-pool-deck-night-time-outdoor-movie.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      La cubierta de piscinas se transforma en el mejor lugar para ver películas clásicas y estrenos cuando se pone el sol. 
      Busca una tumbona y acurrúcate para disfrutar de una noche de cine bajo las estrellas; todo lo que debes llevar es tu cóctel favorito de vacaciones y algunos bocadillos.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">PARED DE ESCALAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/rock-climbing-wall/jewel-of-the-seas-rock-climbing-wall-sunset.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      No hay nada como las vistas que te esperan una vez que subes por la pared de escalar. 
      Con una altura de doce metros, es la manera perfecta de estirar los brazos y las piernas, no importa si eres principiante o un escalador probado. 
      ¿La mejor parte? Es totalmente gratuito.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">WEST END TO BROADWAY</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/west-end-to-broadway/image/jewel-west-end-to-broadway-show-performers-dancers-stage-set-entertainment.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Te encanta disfrutar de un gran musical? Este es tu espectáculo. La producción original de Royal Caribbean West End to Broadway celebra la producción de teatro musical 
      con melodías clásicas y éxitos contemporáneos de los escenarios más emblemáticos del mundo. Canta mientras viajas desde Nueva York a Londres en este espectacular 
      recorrido musical.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CITY OF DREAMS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/city-of-dreams/image/jewel-city-of-dreams-broadway-four-women-fan-show-entertainment.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Deja volar tu imaginación durante City of Dreams, una deslumbrante aventura teatral que visita mundos míticos y continentes lejanos. 
      Desde los llamativos disfraces hasta los fascinantes movimientos de baile, es un espectáculo cinematográfico diseñado para atraer todos tus sentidos desde el primer acto.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">TANGO BUENOS AIRES</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/tango-buenos-aires/image/tango-buenos-aires-show-dancers-performers-entertainment.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Argentina es el hogar del tango, y Tango Buenos Aires lleva todos los movimientos sensuales del baile al escenario durante tus vacaciones en crucero. 
      Desde corridas rápidas hasta enganches apasionados, no podrás resistirte a mover los pies al ritmo de esta producción original.
    </div>
   </ion-content>
</div>