<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">SIP, TOUR, BRUNCH</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/bottomless/assets/Bottomless-galley-brunch-champagne.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Echa un vistazo a la magia que ocurre en la cocina en un exclusivo tour detrás de escena de la cocina, luego deléitate con deliciosas comidas 
      combinadas con vino espumante ilimitado en Almuerzo ligero ilimitado en la cocina.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SOLARIUM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/solarium/jewel-of-the-seas-solarium-sunny-day.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Entrégate a este refugio interior y exterior solo para adultos. El Solarium es tu pedazo de paraíso, con jacuzzis relajantes, 
      la calidez agradable del sol y una refrescante neblina de agua
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">PARED DE ESCALAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/radiance-of-the-seas/overview/radiance-cruise-rock-climbing.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Ponte a la altura de las circunstancias y sube a nuestra pared de escalar exclusiva. Desde principiantes hasta escaladores veloces, todo el mundo puede disfrutar 
      de una vista inigualable de 12 metros por sobre la cubierta. Incluido en tu tarifa, no necesitas reserva
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">EL ESCENARIO SE PREPARA PARA LO MEJOR</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/activity/entertainment-shows/production-show/city-of-dreams/image/jewel-city-of-dreams-broadway-dance-crown-pose-performers-show-entertainment.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      La antigua Atlántida, la exótica India y la dinámica Venecia son solo algunos de los destinos que te propone el espectáculo en vivo City of Dreams, 
      mientras que todas tus baladas favoritas adquieren protagonismo en Piano Man. 
      ¿Te gustaría probar tus dotes actorales? Ponte en el papel de detective y ayuda a resolver un crimen mientras disfrutas de una comida de varios platos 
      en el Teatro Mystery Dinner.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">LA AVENTURA SE SIRVE CON HIELO</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/special-mkgt/miscellaneous/pub-beer-craft-beer.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Si tu noche ideal supone beber y bailar, este barco tiene todo lo que necesitas. La noche comienza con un espectáculo de música en vivo y una pinta en Quill & 
      Compass o tu cóctel favorito en el Bar Schooner. La fiesta continúa hasta altas horas de la madrugada en la pista de baile de Club 20 o de Boleros.
    </div>
   </ion-content>
</div>