<div class="ion-page">
  <div class="align-center">Fecha de entrada</div>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]='true'>
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-list>
    <ion-item>
      <ion-select label="Puerto de salida" placeholder="Escoge una ciudad">
        <ion-select-option value="barcelona">Barcelona</ion-select-option>
        <ion-select-option value="mallorca">Mallorca</ion-select-option>
        <ion-select-option value="roma">Roma</ion-select-option>
        <ion-select-option value="marsella">Marsella</ion-select-option>
        <ion-select-option value="napoles">Nápoles</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input label="Número de huéspedes"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-select label="Camarote" placeholder="Escoge un camarote">
        <ion-select-option value="camarote-interior">Camarote Interior</ion-select-option>
        <ion-select-option value="vista-oceano">Vista al Oceano</ion-select-option>
        <ion-select-option value="camarote-balcon">Camarote con Balcón</ion-select-option>
        <ion-select-option value="balcon-virtual">Balcón Virtual</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select label="Crucero" placeholder="Escoge un crucero">
        <ion-select-option value="oasis-of-the-seas">Oasis of the seas</ion-select-option>
        <ion-select-option value="voyager-of-the-seas">Voyager of the seas</ion-select-option>
        <ion-select-option value="odyssey-of-the-seas">Odyssey of the seas</ion-select-option>
        <ion-select-option value="explorer-of-the-seas">Explorer of the seas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button id="reservar-alert" class="ion-padding">Reservar</ion-button>
  <ion-alert
    [routerLink]="['/pagina-principal']"
    trigger="reservar-alert"
    header="Crucero reservado con éxito"
    message="Se te mandará a la página principal, gracias por su reserva"
    [buttons]="alertButtons"
  ></ion-alert>
</div>