<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">TEPPANYAKI</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/teppanyaki/spectrum-of-the-seas-teppanyaki-eating-stations.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      La experiencia en Teppanyaki no solo consiste en disfrutar de deliciosos sabores y platos diseñados para tentar tu paladar, 
      sino también de una presentación impecable y deslumbrante que sorprende y te deleita. Los expertos chefs de este restaurante de especialidad brindan una experiencia 
      culinaria de categoría superior que roza lo artístico, y tú tienes los mejores asientos para disfrutar del mejor espectáculo culinario en alta mar. 
      Aquí hay algo para todos: opciones de mariscos frescos como vieiras suculentas y langosta humeante, carne de Wagyu de la mejor calidad y bistec 
      a la parrilla estilo Nueva York sellado a la perfección, además de una jugosa pechuga de pollo acompañada con camarones tigre, todo cocinado frente a ti 
      y servido con tentadoras salsas para untar caseras, como Konbuponzu y cebolla al jengibre picante.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SICHUAN RED</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/sichuan-red/spectrum-of-the-seas-sichuan-red-interior.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Saborea un tapiz exótico de especias auténticas y sabores de inspiración asiática dignos de sorprender mientras deleitas tus ojos con vistas infinitas de toda la mesa 
      en Sichuan Red. Diseñado solo para el Spectrum of the Seas, esta es una experiencia gastronómica de especialidad innovadora que los amantes de la comida no querrán perderse.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SPLASHAWAY CAFÉ</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/splashaway-cafe/spectrum-of-the-seas-splashaway-cafe-interior.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Mima a los niños con un montón de sabrosos bocadillos hechos para ellos. Ubicado justo al lado de la piscina de niños, el Splashaway Café es el lugar 
      de ambiente informal perfecto para recargar pilas entre las épicas aventuras a bordo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DOG HOUSE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/dog-house/hot-dog-house-coney-island.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      A todo el mundo le encantan los buenos hot dogs. A algunas personas les gustan los clásicos: entre bollos tostados con un chorrito de mostaza, 
      ketchup y salsas. Otras los prefieren al plato y con chucrut, al estilo del Viejo Mundo. Y a algunas personas les gustan los hot dogs con un toque creativo, 
      como con una salchicha de pollo con sabor a manzana jugosa. Cualquiera que sea el tamaño de hot dog que desees, Dog House sirve las mejores salchichas en alta mar
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">LA PATISSERIE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/la-patisserie/La-Patisserie-venue-empty.JPG?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prepárate para la perfección de la repostería francesa. Deléitate con un dulce viaje por un emocionante surtido de macarons, tentadores petits-fours y 
      ricos chocolates artesanales, junto con deliciosos espressos, cappuccinos espumosos y mucho más en La Patisserie.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">NOODLE BAR</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/noodle-bar/spectrum-of-the-seas-noodle-bar-counter.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Disfruta todos los días de las demostraciones en vivo de los chefs y de fideos recién hechos en este nuevo bar de fideos que se encuentra en Grand Windjammer Marketplace. 
      El Windjammer es el lugar donde podrás encontrar gastronomía diversa, que va desde teppanyaki japonés hasta pizza italiana recién sacada del horno en Sorrento's
    </div>
   </ion-content>
</div>