<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      Navega en la primera aventura de este tipo en Royal Caribbean a bordo del Icon of the Seas. Prepárate para Category 6, el parque acuático más grande en alta mar. 
      O elige entre siete piscinas, incluida Royal Bay, la piscina más grande en un crucero. Y entre las actividades, afianza y nutre tus relaciones con con muchísimas 
      actividades para todo tu grupo en el mejor destino familiar para estar todo el día a bordo, Surfside. Además, descubre platos que todos disfrutarán, 
      con 40 conceptos que redefinen la gastronomía.
    </h3>
    <ion-img
      src="https://stories.lavanguardia.com/media/2024/02/1280x720-barco-de-noche.jpg">
    </ion-img>
</div>