<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Hay un firme NO al FOMO a bordo del Independence of the Seas. Cuelgue diez en el simulador de surf FlowRider. 
        Enfréntate cara a cara en un enfrentamiento con pistolas láser que brillan en la oscuridad en Battle for Planet Z. 
        Y disfruta de comida innovadora en Playmakers Sports Bar & Arcade. Desde emociones de otro nivel hasta tranquilidad discreta, 
        celebra cada día en el mar exactamente como quieras.
      </h3>
      <ion-img
        src="https://s3.amazonaws.com/a-us.storyblok.com/f/1005231/414dfa44f8/independence-of-the-seas_royal-caribbean-international_7644.jpg">
      </ion-img>
  </div>
</ion-content>
