<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">JUEGA A LO GRANDE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/playscape/wonder-of-the-seas-playscape-kids.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Despídete del antiguo patio de juegos de tu vecindario y descubre una forma más audaz de explorar. Wonder Playscape está lleno de toboganes, paredes de escalar, 
      juegos y acertijos que permiten a los aventureros de todas las edades descubrir un mundo temático bajo el agua con posibilidades infinitas
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SOL Y DIVERSIÓN</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/splashaway-bay/wonder-of-the-seas-splashaway-bay-girls-getting-splashed.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Toma el sol, refréscate bajo la sombra, baja tus niveles de adrenalina o toma un cóctel del bar de dos pisos que se encuentra junto a la piscina, The Lime & Coconut. 
      Y para que el día de piscina sea el mejor, reserva una de nuestras casitas privadas junto a la piscina.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">EMOCIONES A CADA PASO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/the-ultimate-abyss/symphony-of-the-seas-ultimate-abyss-girl-getting-ready-slide.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Acércate al borde, asómate a la oscuridad y lánzate 10 pisos por el tobogán más alto del mar, Ultimate Abyss , si eres lo suficientemente valiente. 
      O enfréntate al trío de toboganes de agua The Perfect Storm, con sus giros y sus descargas de adrenalina
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">REAL. DEL SUR. GASTRONOMÍA.</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/the-mason-jar/wonder-of-the-seas-the-mason-jar-shrimp-grits.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En el sur, la comida tiene el propósito de serenar el espíritu. Ingresa a el restaurante y bar sureño The Mason Jar, que reinventa los clásicos de Low Country, 
      los platos básicos de Bayou y la barbacoa audaz. Cenas que avivan ese ambiente de reunión con música country en directo y platos tan apetecibles como reconfortantes. 
      Como el gumbo de langosta con langosta al estilo criollo y el pollo frito de la abuela. Mientras tanto, el menú del brunch está repleto de platos de desayuno que podrían 
      pasar por postre. Prueba un delicioso rollo de canela dulce o un delicioso pollo con gofres sureños
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SAL, LIMA & BUENOS MOMENTOS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/el-loco-fresh/cantina-fresh-friends-bar.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Tu lugar favorito para comer tacos, burritos y quesadillas mejoró. Entra a Cantina Fresca, el animado bar de El Loco Fresh, que sirve los cócteles mexicanos 
      más audaces en alta mar. Saborea el picante con el imperdible Margarita de piña y jalapeño con hielo. O bien, elige tu sabor de margarita favorito con opciones 
      como la fresa, el mango y el maracuyá. Y por primera vez, disfruta de una variedad de renovadoras aguas frescas disponibles durante todo el día
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">EN LO MÁS ALTO, SENTIRÁS QUE VUE-LAS</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/the-vue/the-vue-sunset-bar-nightlife.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Muy por sobre el nivel del mar, el Vue Bar es tu escape definitivo. Bebe tus cócteles de vacaciones favoritos mientras disfrutas de una vista panorámica perfecta en 
      todo tu alrededor. Y cuando se pone el sol, el techo de mosaicos cobra vida con un caleidoscopio de colores
    </div>
   </ion-content>
</div>