<div class="ion-page" id="utopia-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Utopia of the Seas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="descripcion">
        <ion-icon name="book"></ion-icon>
        Descripcion
      </ion-tab-button>
      <ion-tab-button tab="quehacer">
        <ion-icon name="walk"></ion-icon>
        Que hacer
      </ion-tab-button>
      <ion-tab-button tab="camarotes">
        <ion-icon name="bed"></ion-icon>
        Camarotes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>