<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        En este barco lleno de aventuras encontrarás un sinfín de maneras de mantener tus días ocupados entre paisajes espectaculares y oportunidades de crear maravillosos recuerdos. 
        Como el Tidal Wave, el primer tobogán de estilo bumerán en alta mar que te hará gritar, hasta Splashaway Bay, una atracción favorita de los niños. 
        Además del mejor entretenimiento en la pista de hielo y deliciosas comidas en todo momento.
      </h3>
      <ion-img
        src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Liberty_Of_The_Seas_GC_12-22-16.jpg">
      </ion-img>
  </div>
</ion-content>
