<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">TOBOGÁN ULTIMATE ABYSS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/the-ultimate-abyss/kid-starting-the-ultimate-abyss-slide-ride.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Una vez que te lanzas por el tobogán de 10 cubiertas más elevado en alta mar para adentrarte en los misterios de las profundidades, 
      ¡no hay vuelta atrás! No es necesario reservar.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">TOBOGANES ACUÁTICOS THE PERFECT STORM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/the-perfect-storm/symphony-of-the-seas-perfect-storm-woman-sliding.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Busca a alguien con quien competir y lánzate por dos sinuosos toboganes de tres pisos repletos de giros y descensos: Typhoon, Cyclone y Supercell. 
      Las condiciones son perfectas para The Perfect Storm
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DESCENSO EN TIROLINA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/zip-line/zip-line-woman-day-activity-horizontal.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Abróchate el arnés y viaja a nueve cubiertas de altura sobre el Paseo Boardwalk en la tirolina. No mires hacia abajo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IZUMI</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/izumi-sushi-rolls-dish.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Di "Konnichiwa" a tu plato favorito reinventado. Sushi, sashimi y muchos platos más, todos hechos a la carta con sabores intensos, 
      los mejores ingredientes y una presentación impecable. Eso sí que es un planazo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">JAMIE'S ITALIAN DE JAMIE OLIVER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/launch-images/approved-mosaic-images/why-royal-caribbean/QN_Jamies_Penne_MattRussell_OptionA.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Jamie's Italian de Jamie Oliver, disfrutarás de platos inspirados en la Toscana, como la popular y famosa tabla y las pastas elaboradas en el propio restaurante, 
      todo creado por uno de los chefs más famosos del Reino Unido.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">WONDERLAND</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/wonderland-imaginative-cuisine/wonderland-cuisine-king-of-hearts-wonderland-royal-burger.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Nuestros chefs del País de las Maravillas dan un giro a sus caleidoscopios culinarios e inventan paraísos sofisticados de platos nunca antes vistos. 
      Dale unas "pinceladas" al menú para que la magia comience y encuentra tu elemento: sol, hielo, fuego, agua, tierra y sueños.
    </div>
   </ion-content>
</div>