<div class="ion-page">
  <ion-content>
    <ion-item color="primary">
      <h2 class="centrar">CAMAROTES INTERIORES</h2>
    </ion-item>
    <p></p>
    <div class="align-center">Nuestros camarotes interiores incluyen una amplia variedad de servicios para toda la familia.</div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-interior-living-room.jpg?$520x1040$" style="width: 70%" class="img">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">VISTA AL OCÉANO</h2>
    </ion-item>
    <p></p>
    <div class="align-center">Saborea las vistas del mar e instantáneas de paisajes de costa a costa.</div>
    <p></p>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-oceanview-living-room.jpg?$520x1040$" style="width: 70%" class="img">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CAMAROTES CON BALCÓN</h2>
    </ion-item>
    <p></p>
    <div class="align-center">Hazte con tu trozo del paraíso con vistas desde el balcón justo fuera de la puerta.</div>
    <p></p>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/accommodations/harmony/harmony-of-the-seas-balcony-living-room.jpg?$520x1040$" style="width: 70%" class="img">
    </ion-img>
    <ion-item color="primary">
      <h2 class="centrar">BALCÓN VIRTUAL</h2>
    </ion-item>
    <p></p>
    <div class="align-center">La tecnología de vanguardia proporciona una vista en tiempo real en cada habitación con pantallas del piso a techo.</div>
    <p></p>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/accommodations/interior/harmony-interior-virtual-balcony-cropped.JPG?$520x1040$" style="width: 70%" class="img">
    </ion-img>
  </ion-content>
</div>