<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar"></h2>
    </ion-item>
    <ion-img
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center"></h2>
    </ion-item>
    <ion-img
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar"></h2>
    </ion-item>
    <ion-img
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar"></h2>
    </ion-item>
    <ion-img
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center"></h2>
    </ion-item>
    <ion-img
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center"></h2>
    </ion-item>
    <ion-img 
      src="">
    </ion-img>
    <p></p>
    <div class="align-center">
      
    </div>
   </ion-content>
</div>