<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">PARED DE ESCALAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/rock-climbing-wall/rockwall-man-climbing-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Ponte a la altura de las circunstancias y sube a nuestra pared de escalar exclusiva. Desde principiantes hasta escaladores veloces, 
      todo el mundo puede disfrutar de una vista inigualable de 12 metros por sobre la cubierta. Incluido en tu tarifa, no necesitas reserva
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">MINIGOLF</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/mini-golf-course/mini-golf-woman-man-girl-boy-family-play-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¡Practica golf en alta mar! Refina tu juego de minigolf en un campo con vistas a un mar azul. Incluido en tu tarifa, no se necesita reserva
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SALÓN DE VIDEOJUEGOS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/arcade/arcade-game-car-racing-activity.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Ecos, pitidos, estruendos y aplausos. Juega para ganar en un ambiente clásico de salón de videojuegos con juegos inolvidables como Pacman y el hockey de mesa, 
      además de los más recientes Guitar Hero, Fast and Furious Drift y muchos más
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DISFRUTA DEL SOL</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/activity/solarium/brilliance-solarium-sunset-pool.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Fija tu mirada en el horizonte mientras te relajas en un cálido y burbujeante jacuzzi. Relájate y disfruta de las vistas detrás de un techo de cristal al 
      tiempo que disfrutas tu trago diurno favorito en el Solarium. O date un chapuzón al son de la música en vivo en la cubierta de piscinas
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">NO ES TU TÍPICA SALIDA NOCTURNA</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/vintages-wine-bar/vintages-bar-wine-glasses-drink-women-cheers.JPG">
    </ion-img>
    <p></p>
    <div class="align-center">
      No existe el toque de queda en la aventura a bordo del Brilliance of the Seas. Al ponerse el sol, podrás disfrutar de un coctel clásico en nuestro R Bar o 
      dejarte llevar y verlo todo de color de rosa con una copa de rosado en el Vintages. Y no te pierdas los impresionantes espectáculos a bordo, 
      como la producción inspirada en Broadway, Now and Forever, y la sensual exhibición de baile, Tango Buenos Aires
    </div>
   </ion-content>
</div>