<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">UN FESTÍN VISUAL</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/main-dining-room/serenade-of-the-seas-main-dining-room-two-floor.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En el restaurante principal, que ofrece dos niveles de ventanas de vidrio, encontrarás algunas de las mejores vistas escénicas desde el crucero. 
      Esto significa que todos los platos tienen como acompañamiento los increíbles paisajes de Alaska. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">VISTAS DE PRIMERA CATEGORÍA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/jewel-of-the-seas/overview/tile-pic/glass-Elevator-Couple-tile2.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Prácticamente cada rincón del Serenade of the Seas posee unas vistas espectaculares, incluidos los ascensores. 
      Con sus exteriores de vidrio, podrás disfrutar de toda la vida silvestre de Alaska y de su belleza agreste simplemente al pasar de una cubierta a otra. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SALÓN CON MIRADOR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/solarium/serenade-of-the-seas-solarium-pool.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      La piscina a bordo del Serenade of the Seas posee un techo de cristal retráctil, para que durante los interminables días de verano puedas disfrutar por largas horas del sol, 
      todo mientras ves pasar las cimas cubiertas de nieve y los bosques lluviosos.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IMPOSIBLE SER MÁS VIP</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chefs-table/chefs-table-crab-wine-tasting.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Si deseas que te sirvan la cena y el vino, no busques más que Chef's Table. Ubicada en un ambiente íntimo, esta inolvidable aventura epicúrea presenta cinco 
      deliciosos platos combinados por expertos con los mejores vinos a bordo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UN PLACER DEL LEJANO ORIENTE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/izumi-sushi-specialty-rolls-close-up.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Disfruta de un viaje al Lejano Oriente con una amplia variedad de aperitivos, platos principales, postres y más inspirados en Asia, 
      además de sushi y sashimi frescos hechos a mano que te harán sentir como si hubieras tocado tierra en Tokio.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">MOMENTO DE TRATTORIA</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/giovannis-table/allure-of-the-seas-giovannis-table-cannoli-chocolate-cherry.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Giovanni's Italian Kitchen, un favorito de Royal Caribbean, encontrarás sabores italianos rústicos con un toque contemporáneo. 
      Desde las deliciosas pastas frescas hasta las pizzas artesanales preparadas en el momento, puedes recorrer toda Italia sin salir del barco.
    </div>
   </ion-content>
</div>