<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Hablamos de itinerarios cargados de exploración a algunos de los destinos más impresionantes y soleados del mundo. 
        Además, encontrarás un sinfín de aventuras a bordo, como la pared de escalar de 12 metros sobre la cubierta. 
        Disfrute de espectáculos estilo Broadway y entretenimiento deslumbrante, noche tras noche. 
        Y deléitate con una cocina deliciosa que complacerá incluso al comensal más exigente de tu grupo. 
        Disfrute de una aventura y de momentos inolvidables a bordo del Rhapsody of the Seas
      </h3>
      <ion-img
        src="https://viajes-indigo.com/uploads/0000/9/2023/11/16/1920-f-c-rh-alaska2013-023f.jpg">
      </ion-img>
  </div>
</ion-content>
