<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">MUCHO TIEMPO EN LA PISCINA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/pool/navigator-of-the-seas-friends-pool-splashing-fun-vacation.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Este es el mejor día de piscina, cada día. Elige entre las cinco piscinas a bordo. En la cubierta superior encontrarás tres de ellas, dos de estilo complejo turístico 
      y una piscina con pendiente de entrada de playa, donde los maestros del reggae se divierten al ritmo de los éxitos de la isla. 
      O mantén un bajo perfil mientras disfrutas de las vistas y los cócteles en la piscina y el bar del Solarium, solo para adultos.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">ADVERTENCIA DE AVENTURA EN EFECTO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/the-perfect-storm/wonder-of-the-seas-royal-caribbean-perfect-storm-funnel-woman-sliding.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Aumenta tu lado temerario con The Perfect Storm, el trío de toboganes acuáticos más audaces en alta mar. Estamos hablando de aventuras inolvidables con giros, 
      vueltas y diversión cargada de adrenalina que te dejarán empapado. Desafía a tu grupo de aventuras a una competencia de lanzamientos alucinantes en Typhoon and Cyclone. 
      O persigue la adrenalina solo, con los giros y vueltas del cuenco de champán del Supercell. No importa por cuál tobogán desciendas, la aventura está en el horizonte.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SUMÉRGETE EN LAS DELICIAS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/el-loco-fresh/royal-caribbean-el-loco-fresh-tacos-lime.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Con tres favoritos convenientes a solo pasos de la acción de la piscina, no tienes que ir muy lejos para recargar energías. Detente en The Spare Tire, 
      el nuevo puesto itinerante que se encuentra junto a la piscina, donde podrás disfrutar de bocadillos rápidos y favoritos que puedes comer con la mano. 
      Vuélvete loco con los burritos, tacos o quesadillas en El Loco Fresh. O dirígete al tranquilo Solarium Bistro para comer todo lo que puedas mientras 
      disfrutas de vistas panorámicas al mar.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SABORES DELICIOSOS DE JAPÓN</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/renders/izumi-hibachi-specialty-dining-family-fun-chef.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Desde selecciones de sushi fresco hasta un delicioso teppanyaki preparado junto a la mesa, Izumi Hibachi & Sushi ofrece una experiencia gastronómica de inspiración 
      asiática a bordo. Disfruta de un festín delicioso al aire libre en Central Park. Y si estás de paso, en la ventanilla de Izumi in the Park encontrarás una selección 
      de rollos, nigiri y dulces japoneses exclusivos para disfrutar en cualquier momento y lugar.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">TODOS A BORDO PARA DISFRUTAR DE LAS DELICIAS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/royal-railway/royal-railway-utopia-station-dining-specialty-train-interactive.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Royal Railway - Utopia Station ofrece la experiencia gastronómica más inmersiva en alta mar. Prepara tu apetito para un recorrido culinario en tren como nunca antes, 
      sin pasaporte. Todo comienza con bebidas antes de la cena en la plataforma de la estación. Y cuando suena el silbato, es momento de una aventura epicúrea que podría 
      llevarte a cualquier lugar, o momento, desde el impresionante Viejo Oeste de los Estados Unidos hasta destinos lejanos en todo el mundo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">PASTA-BILIDADAES DELICIOSAS</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/giovannis-table/renders/giovannis-wine-bar-specialty-food-italian.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Ya sea que estés en busca de tu comida favorita o que estés celebrando una ocasión especial, Giovanni's Italian Kitchen & Wine Bar pone la mesa para una experiencia 
      culinaria auténtica con platos italianos rústicos que enorgullecerían a la nonna, como la lasaña con mucho queso, el osso bucco tierno y las pizzas artesanales, 
      que se sirven recién salidas del horno. Disfruta de una noche inolvidable en el restaurante de lujo.
    </div>
   </ion-content>
</div>