<div class="ion-page">
  <ion-content>
    <ion-item color="primary">
    </ion-item>
    <ion-item color="primary">
      <h2 class="align-center">LOS OBJETIVOS DE TUS VACACIONES COMIENZAN AQUI</h2>
    </ion-item>
    <p></p>
    <div class="align-center">
      Star of the Seas todavía no está disponible hasta verano de 2025, pero ya sabemos varias cosas que va a traer
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">EMOCIONES MÁS GRANDES QUE LA VIDA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/star/asset/family-walking-up-stairs-thrills-waterpark-storm-surge-star-of-the-seas.jpg?$520x1040$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">NO DEJES DE RELAJARTE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/star/asset/family-relaxing-brothers-splashing-royal-bay-pool-star-of-the-seas.jpg?$520x1040$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">EL SIGUIENTE NIVEL DE SORPRESAS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/star/asset/aquatheater-family-watching-aerial-acrobats-star-of-the-seas-crop.jpg?$520x1040$">
    </ion-img>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">BOCADOS DIGNOS DE ANTOJO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/basecamp/icon-of-the-seas-basecamp-milkshakes-family-sweets-treats-crop.jpg?$520x1040$">
    </ion-img>
    <p></p>
   </ion-content>
</div>