<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">SOLARIUM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/solarium/solarium-sunset-boomer-whirlpool.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Es momento de relajarse y disfrutar en el sereno Solarium a bordo. Un refugio interior y exterior, reservado solo para adultos, donde pueden descansar y refrescarse.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SALÓN DE VIDEOJUEGOS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/arcade/arcade-kids-playing-basketball.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Si te ves huyendo de una horda de fantasmas, salvando al espacio exterior de los alienígenas o iniciando una revolución del baile, 
      es posible que te encuentres en el salón de videojuegos de Royal Caribbean. Tanto tus juegos favoritos de los ochenta y noventa 
      como los más actuales te esperan a bordo.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CASINO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/casino/blackjack/blackjack-table-card-game-players-and-dealer-onboard-things-to-do-casino.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Los jugadores aman Casino Royale, un trozo de Las Vegas a bordo. Explora juegos que van desde máquinas de juego hasta la ruleta y mesas de póquer.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">RELÁJATE</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/dining/solarium-bar/solarium-bar-tropical-cocktails-pool.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Mereces mimarte un poco. Relájate y disfruta del sol con un Mai Tai en mano en el Solarium solo para adultos. O elige entre una amplia variedad de servicios holísticos 
      y disfruta de un tratamiento VIP en Vitality Spa.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">DÉJATE LLEVAR</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/data/activity/night-life/dj-nightlife-music-spin.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Comienza tu noche con un cóctel clásico en R Bar y después muévete al ritmo de la música latina en la pista de baile de Boleros. 
      O aplaude y canta todas tus canciones favoritas en sensacionales producciones originales como Stage to Screen y Can't Stop the Rock.
    </div>
   </ion-content>
</div>