<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">PISTOLAS LÁSER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/laser-tag/laser-tag-girl-aiming-laser-playing.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Dos fuerzas luchan en un combate con pistolas láser en un escenario que brilla en la oscuridad por el control del último planeta a años luz de distancia. 
      Será tu equipo el que lo reclamará? Apúntate y averígualo en Battle for Planet Z.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/flowrider-surf-simulator-instructor-man-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Buscas una aventura inolvidable en alta mar? No busques más que FlowRider. Siente la emoción de dominar las olas sin siquiera dejar el barco. 
      No importa si eres un surfista experimentado o si solo buscas probar algo nuevo, Flowrider es la forma perfecta de darte un chapuzón
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JUEGO DE ESCAPISMO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/escape-room-the-observatorium/NV-escape-room-observatorium.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Tenemos algunos acertijos que resolver. Y de los que debes escapar. Trabaja con tu equipo para descubrir pistas ocultas, 
      resolver problemas de agilidad mental y solucionar desconcertantes acertijos. El reloj se fija en 60 minutos. 
      ¿Crees que tu equipo y tú puedan ganarle al reloj en el más reciente desafío de escape del cuarto de Royal Caribbean?
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JAMIE'S ITALIAN</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/jamies-italian/Jamies-Italian-Lobster-Al-Forno-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Jamie's Italian de Jamie Oliver, disfrutarás de platos inspirados en la Toscana, como la popular y famosa tabla y las pastas elaboradas en el propio restaurante, 
      todo creado por uno de los chefs más famosos del Reino Unido.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SIP, TOUR, BRUNCH</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/bottomless/assets/Bottomless-galley-brunch-champagne.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Echa un vistazo a la magia que ocurre en la cocina en un exclusivo tour detrás de escena de la cocina, 
      luego deléitate con deliciosas comidas combinadas con vino espumante ilimitado en Almuerzo ligero ilimitado en la cocina.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">IZUMI</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/izumi-dinner-assorted-plates-dish.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Di "Konnichiwa" a tu plato favorito reinventado. Sushi, sashimi y muchos platos más, todos hechos a la carta con sabores intensos, 
      los mejores ingredientes y una presentación impecable. Eso sí que es un planazo.
    </div>
   </ion-content>
</div>