<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">EL PARQUE ACUÁTICO MÁS GRANDE EN ALTA MAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/icon/icon-of-the-seas-cat6-waterpark-slide-aerial-close-splash-family-fun.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Se está produciendo la tormenta del siglo, y tú estás en su camino. Prepárate para Category 6, el parque acuático más grande en alta mar, 
      que cuenta con seis toboganes que rompen récords. Enfrenta solo la tormenta del siglo. Toma a un amigo y corran a buscar refugio. 
      O reúne a todo tu grupo y ármense de valor para recorrer en balsas familiares los toboganes que no tienen nada de dóciles.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">RECLAMA LA CORONA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/icon/icon-of-the-seas-crowns-edge.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Te atreves a llegar al límite de la valentía? Conquista Crown's Edge, un desafío sobrecogedor que es parte pasarela, parte circuito de obstáculos y parte paseo de aventura, 
      todo con el objetivo de probar tu valentía. Abróchate el cinturón y da el primer paso, pero no te detengas. Porque cuando menos lo esperes, 
      el suelo bajo tus pies podría desplomarse y dejarte colgando en las alturas, sobre el océano.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JUEGA. Y JUEGA. Y JUEGA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/booking-funnel/stateroom-image-gallery/icon/supporting-images/surfside-render-1.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Descubre aventuras para todas las edades en Surfside, el mejor destino a bordo donde puedes estar todo el día que abre las puertas a la diversión familiar. 
      Con un extenso parque acuático aprobado para niños, una piscina para adultos y muchos bocadillos en las cercanías para recargar energías y afianzar tus relaciones, 
      el grupo no querrá marcharse de aquí.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">PLATOS QUE COMPLACEN A TU PALADAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/icon/icon-of-the-seas-empire-supper-club-couple-having-dinner.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Los momentos especiales de la vida se merecen un plato especial. Deléitate con cortes de bistec de primera calidad seleccionados especialmente para ti, 
      manjares como caviar y deliciosos mariscos, que van desde ostras recién desconchadas hasta cola de langosta de Maine. 
      Dedica una velada a probar platos especialmente seleccionados, gastronomía de lujo y un ambiente sin igual que hará que cada bocado se sienta como una celebración.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">LOS MOMENTOS INOLVIDABLES ESTÁN INCLUIDOS EN EL MENÚ</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/icon/icon-of-the-seas-surfside-eatery-entrance-family-casual.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Este es un festín de momentos inolvidables en torno a comidas muy deliciosas. Como compartir el espectáculo fabuloso y deslumbrante durante una cena hibachi. 
      Y pasar platos en un amplio comedor en el corazón de Surfside. Además, con más de 20 opciones gastronómicas únicas, hay algo para todos los gustos, 
      desde los curiosos culinarios hasta los comensales más exigentes.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">COME. DIVIÉRTETE. REPITE</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/icon/icon-of-the-seas-aquadome-marketplace-main-food-hall-dining.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Desde ventanillas con deliciosas provisiones en Thrill Island hasta comidas rápidas las 24 horas del día, encuentras bocados audaces y bebidas alcohólicas en cada esquina. 
      Como sushi y sake para llevar en Central Park, pizza recién horneada y cerveza de barril en Royal Promenade. 
      Y cuando todo el grupo desee algo diferente, diríjanse al AquaDome Market para disfrutar del primer salón de comidas de la flota.
    </div>
   </ion-content>
</div>