<ion-content>
  <div class="ion-page">
    <p></p>
      <h3 class="titulo">
        Presentamos el Odyssey of the Seas, el primer crucero de la Clase Quantum Ultra que zarpa 
        desde los Estados Unidos. Diviértete desafiando la gravedad en el simulador de paracaidismo RipCord by iFLY. 
        O disfruta de los autos de choque y del patinaje sobre ruedas en el complejo SeaPlex más grande. 
        Contempla vistas increíbles de 360 grados a 91,5 metros de altura desde la cápsula de observación North Star. 
        Además, disfruta de entretenimiento que te tendrá al borde del asiento en el transformador Two70. 
        Lleva la aventura al siguiente nivel en este favorito de la Clase Quantum Ultra.
      </h3>
      <ion-img
        src="https://i.redd.it/cruising-on-odyssey-of-the-seas-right-now-love-it-so-far-v0-kuxqrlryqzha1.jpg?width=4032&format=pjpg&auto=webp&s=5d88a8928414827a624a2bb6148f962f0f009ca9">
      </ion-img>
  </div>
</ion-content>
