<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">BALLROOM FEVER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/ballroom-fever/image/navigator-ballroom-fever-classic-dancers-original-production-show-entertainment.JPG?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Cada paso cuenta una historia en esta extraordinaria celebración de los bailes de salón. Redescubre el romance con el tango, salta de alegría con el jive, 
      alcanza el zen con un vals y siente el sofocante calor de la rumba mientras la fiebre del salón de baile se apodera de ti
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SOLARIUM BAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/solarium-bar/Solarium-Bar-Lounge.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Relajarse puede dar mucha sed. Mientras te relajas en el ambiente del Solarium solo para adultos, pide un refresco en el Solarium Bar, 
      donde los amables camareros sirven vino, cerveza, cócteles y refrescantes bebidas tropicales perfectas para tomar un trago a la sombra junto al salón de la piscina.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JACUZZIS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/cantilevered-whirlpools/whirlpools-water-pool-deck-night-activity.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Descubre otro tipo de lugar atractivo. Cada barco Royal Caribbean tiene varios jacuzzis. Encuentra el cálido y burbujeante jacuzzi que más te llame
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">WINDJAMMER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/windjammer/wonder-of-the-seas-windjammer-buffet-lunch-dinner-family.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      El Windjammer es el restaurante al que debes ir para disfrutar de los tentadores sabores globales que se sirven de forma gratuita. 
      Como paninis recién prensados rellenos de todas tus carnes y quesos favoritos. Hojaldres recién salidos del horno y tortillas de la forma que más te guste. 
      Y platos principales abundantes que van desde crujiente pollo frito en suero de leche hasta cerdo Ho Chi Minh estofado vietnamita.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHOPS GRILLE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chops-grille/chops-grille-couple-wine-steak-date-night-vacation.jpg?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Por más de una década, los chef de Chops Grille han presentado con orgullo calidad y bistecs cortados a mano en el distintivo restaurante de Royal Caribbean. 
      Ahora, ofrecen un giro en uno de los favoritos, con un menú reformado que trae un estilo contemporáneo a lo ofrecido por un restaurante especializado en carnes tradicional. 
      Lo más fascinante: nuestra excepcional carne de primera calidad. A esta carne de res suprema se une la langosta de Maine, el róbalo a la brasa y otros platos suculentos 
      con acompañamientos adictivos y postres irresistibles.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHEF'S TABLE</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chefs-table/chefs-table-food-dish.JPG?$1430x1100$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Bienvenido a Chef's Table, la experiencia gastronómica más exclusiva y elevada de nuestra flota. Únete a un grupo íntimo de compañeros amantes de la 
      comida en un viaje epicúreo privado dirigido por el chef del restaurante del barco. Te sentarás a disfrutar de una cena de mantel blanco con cinco platos 
      exquisitos que van desde carpaccio de vieiras con vinagreta de yuzu hasta filet mignon a la parrilla servido con puré de patatas y trufas, 
      cada uno combinado con el vino perfecto para resaltar todos los sabores del menú.
    </div>
   </ion-content>
</div>