<div class="ion-page">
  <p></p>
    <h3 class="titulo">
      Las mejores costas. Orgullo de popa a proa. Lo mejor de ambos mundos se combina para una aventura todo en uno en el Amplified Freedom of the Seas. 
      Sea cual sea el lugar que decidas recorrer, experimentarás muchas emociones incomparables a bordo entre tus aventuras en tierra. 
      Como los adrenalínicos toboganes que pasan por sobre la cubierta. Una nueva escena de piscinas diseñada para mejorar tu tiempo bajo el sol. 
      Y sabores frescos y auténticos que satisfarán cualquier antojo.
    </h3>
    <ion-img
      src="https://www.cruiseswithfriends.com/images/opengraph/royal-caribbean-freedom-of-the-seas.png">
    </ion-img>
</div>