<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">DÍAS REPLETOS DE DIVERSIÓN</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/casino/roulette/gradeur-of-the-seas-casino-roulette-gambling.jpg?$1920x1080$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Conquista la pared de escalar y admira las impresionantes vistas durante tu travesía a nuevos destinos apasionantes. 
      Relájate junto a la piscina mientras el pinchadiscos pone los mejores temas del momento. 
      Y si te apetece darle un toque de diversión a tus vacaciones, el salón de videojuegos cuenta con todos los clásicos de siempre y 
      algunos de los títulos modernos más aclamados por el público.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">RESTAURANTES PARA CADA OCASIÓN</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/izumi/izumi-ramen-pork-noodles-eggs-spicy.jpg?$1920x1080$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Degusta comidas internacionales en Windjammer, sushi recién preparado y otras delicias de la cocina japonesa en Izumi, o todo un festín de cinco platos 
      preparados por expertos en el recogido Chef's Table. Porque cada experiencia gastronómica a bordo del Grandeur of the Seas es un momento único que saborear. 
      Aquí tienes una lista detallada de los mejores sitios en los que comer de forma gratuita en un crucero, junto con información sobre los horarios de desayuno, 
      almuerzo y cena tanto en Windjammer como en el restaurante principal. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">ENTRETENIMIENTO NOCTURNO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/entertainment-shows/production-show/broadway-rhythm-and-rhyme/image/grandeur-of-the-seas-rhythm-and-rhyme-dancers-original-production.jpg?$1920x1080$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¿Estás planeando unas vacaciones en crucero románticas? Apuesta por el Grandeur of the Seas, el barco que nunca duerme. 
      Las noches a bordo te dejarán recuerdos para atesorar toda una vida, desde el ambiente musical de Rhythm & Rhyme en el Teatro principal y 
      el animado entorno del R Bar, donde sirven cócteles clásicos, hasta las sesiones de baile bajo las estrellas en la cubierta de piscinas. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">NAVEGA MÁS ALLÁ DE LOS CANALES DE FLORIDA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/fort/fort-lauderdale-florida-A1A-aerieal.jpg?$1920x1080$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Sumérgete en tu escapada definitiva al Caribe cuando navegues desde Fort Lauderdale. Pasea por los canales de la Venecia de América antes de 
      emprender tu crucero al Caribe meridional u occidental.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">SALIDAS DESDE FORT LAUDERDALE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/miami-florida/miami-beach-buildings-sunny-day.jpg?$1920x1080$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Siempre encontrarás aventuras audaces a bordo del Grandeur of the Seas® cuando navegues desde Fort Lauderdale. Con playas hermosas, 
      restaurantes de clase mundial y una vida nocturna vibrante, Fort Lauderdale es el lugar perfecto para comenzar cualquier 
      viaje con destino al impresionante Caribe oriental o meridional.
    </div>
   </ion-content>
</div>