<ion-content>
  <div class="ion-page">
    <p></p>
    <h3 class="titulo">
      Emprende aventuras a bordo de este favorito de la Clase Quantum y consigue un asiento en primera fila para contemplar paisajes asombrosos a bordo del Quantum of the Seas. 
      Desde el simulador de paracaidismo RipCord by iFLY hasta los bármanes robóticos de Bionic Bar, este crucero lleno de aventuras tiene un sinfín de formas para mantener 
      tus días ocupados entre paisajes espectaculares y aventuras en tierra. 
    </h3>
    <ion-img
      src="https://www.cruisemapper.com/images/ships/802-large-ed78f090346334771301e8030d75211f.jpg">
    </ion-img>
  </div>
</ion-content>
