<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="align-center">DIVERSIÓN TEMERARIA PARA BEBÉS</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/onboard/experiences/adventure-ocean/oasis-of-the-seas-adventure-ocean-babies-playpen.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      En nuestro programa AO Babies, los pequeños de 6 a 36 meses disfrutarán de todo tipo de actividades divertidas 
      mientras tú disfrutas de un momento para adultos. Piensa en círculos de cuentos, juegos interactivos, juegos de grupo y más. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">EXPERIENCIAS NUEVAS Y GENIALES PARA NIÑOS</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/onboard/experiences/adventure-ocean/oasis-of-the-seas-adventure-ocean-interactive-games.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Los exploradores de entre 3 y 5 años se van a divertir muchísimo haciendo manualidades, 
      participando en geniales experimentos de ciencias, resolviendo desafíos y disfrutando de 
      aventuras educativas inmersivas, todo como parte de nuestro programa gratuito AO Junior. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">UN LUGAR DE REUNIÓN OCULTO</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/onboard/experiences/teen-space/back-deck/oasis-of-the-seas-teen-space-hangout-back-deck.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Seamos realistas, los jóvenes quieren tener la libertad de elegir cómo pasan su tiempo a bordo. 
      En el renovado Oasis of the Seas®, los niños de entre 13 y 17 años tienen un nuevo y 
      exclusivo salón con música, películas, juegos e incluso un lugar de reunión al aire libre en el patio. 
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SOLO DUETOS</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/onboard/experiences/karaoke/oasis-of-the-seas-spotlight-kareoke-kids-singing-family-time.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      No es una prueba de sonido. Es el karaoke Spotlight, un lugar totalmente nuevo donde el centro de atención eres tú. 
      Canta a viva voz en el escenario principal con un anfitrión especial o presenta tu propio espectáculo en un camarote privado. 
      De cualquier manera, tu noche terminará a lo grande con tu crucero.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">MÚSICA EN VIVO TODA LA NOCHE</h2>
    </ion-item>
    <ion-img
      src="https://www.royalcaribbean.com/content/dam/royal/onboard/experiences/music-hall/music-hall-performers-rock-band.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      En el Music Hall, ninguna noche suena igual a la anterior. No importa en qué lugar de la pista de baile te encuentres, 
      tendrás una vista de primera fila para ver a bandas que cantan nuevas versiones de canciones lucirse en el escenario 
      como si fueran las bandas auténticas, o puedes apreciar la escena en un rincón más íntimo mientras disfrutas de tu cóctel favorito.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">ESPECTACULARES SALTOS</h2>
    </ion-item>
    <ion-img 
      src="https://www.royalcaribbean.com/content/dam/royal/data/activity/entertainment-shows/aquatheater-show/aqua-theater-shows-general/image/assets/aquatheater-cruise-vacation-entertain-night-show.jpg">
    </ion-img>
    <p></p>
    <div class="align-center">
      Aquí es donde el agua se encuentra con el drama. Los clavadistas de nivel olímpico saltan al aire en hipnóticas piruetas y 
      acrobacias aéreas y terminan con un clavado perfecto en la piscina más profunda en un crucero. 
    </div>
   </ion-content>
</div>