<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">PARED DE ESCALAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/transatlantic/person-rock-climbing-vacation-advanture.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Ponte a la altura de las circunstancias y sube a nuestra pared de escalar exclusiva. 
      Desde principiantes hasta escaladores veloces, todo el mundo puede disfrutar de una vista inigualable de 12 metros por sobre la cubierta. 
      Incluido en tu tarifa, no necesitas reserva.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ships/ovation/assets/ovation-of-the-seas-flowrider-sunset.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Toma tu tabla y prepárate, 113.562 litros de aguas torrentosas te esperan. El surf siempre está activo en el simulador de surf de 12,1 metros de largo FlowRider
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">NORTH STAR</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/north-star/north-star-lounge-chairs-day-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Sorpréndete en una cápsula con forma de joya, que revela impresionantes vistas panorámicas en 360º a medida que subes suavemente a más de 90 metros sobre el nivel del mar.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">CHOPS GRILLE</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/chops-grille/symphony-of-the-seas-chops-grille-lambchop-rosemary.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Por más de una década, los chefs de Chops Grille han presentado con orgullo bistecs cortados a mano de la mejor calidad en el distintivo restaurante de Royal Caribbean.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">WONDERLAND</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/wonderland-imaginative-cuisine/wonderland-cuisine-king-of-hearts-wonderland-royal-burger.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Nuestros chefs del País de las Maravillas dan un giro a sus caleidoscopios culinarios e inventan paraísos sofisticados de platos nunca antes vistos. 
      Dale unas "pinceladas" al menú para que la magia comience y encuentra tu elemento: sol, hielo, fuego, agua, tierra y sueños.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JAMIE'S ITALIAN</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/jamies-italian/Jamies-Italian-Lobster-Al-Forno-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Jamie's Italian de Jamie Oliver, disfrutarás de platos inspirados en la Toscana, como la popular y famosa tabla y las pastas elaboradas en el propio restaurante, 
      todo creado por uno de los chefs más famosos del Reino Unido.
    </div>
   </ion-content>
</div>