<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">THE PERFECT STORM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/adventure-of-the-seas/overview/tile-pic/adventure-of-the-seas-perfect-storm-green-slide-girl-kid-activity-tile1.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Busca a alguien con quien competir y lánzate por dos sinuosos toboganes de tres pisos repletos de giros y descensos: Typhoon y Cyclone. 
      Las condiciones son perfectas para The Perfect Storm
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">PATINAJE SOBRE HIELO</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/ice-skating/ice-skating-girls-friends-activity.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Tanto si eres un principiante como si te mueves como el mejor, lo pasarás en grande en la pista de patinaje sobre hielo
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SPLASHAWAY BAY</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/ship/liberty-of-the-seas/overview/hero-pic/liberty-splash-away-bay-overview-hero.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      ¡Diversión a raudales! Este parque acuático de mayor tamaño y mejores características que el anterior cuenta con toboganes, cañones de agua, cascadas y mucho más. 
      Y cuando el cubo se llene... ¡sorpresa refrescante para todos!
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">JHONNY ROCKETS</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/johnny-rockets/johnny-rockets-fries-onion-rings-soft-drinks-food.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Retrocede en el tiempo a una época de bailes juveniles, de máquinas de refrescos y de cines al aire libre con nuestro menú sencillo y familiar, 
      que ofrece exquisiteces norteamericanas para trasladarte a un entorno típico al otro lado del charco.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SORRENTO'S PIZZA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/new-york-new-york/cuisine/new-york-new-york-pizza-slice.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Mozzarella fundida y jugosa, la masa perfecta y los ingredientes más deliciosos que hayas probado jamás, ¡bienvenido a Sorrento's! 
      Si te apetece un plato fuerte, pide la pizza al estilo de Nueva York en Sorrento's y disfruta de un buen bocado
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">SABOR</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/sabor-modern-mexican/Sabor-guacamole-tortilla-chips-margarita-guest-eating-drinking.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Sabor, el gusto y los aromas mexicanos se dan cita para bailar salsa en tu paladar. Y lo mismo ocurre con los tequilas. 
      Ven a descubrir unos platos tradicionales de rechupete, como los burritos de carne asada. 
      ¡Te encantarán! Y cuando pruebes los tacos, los ceviches y las quesadillas, desearás que la fiesta no llegue a su fin.
    </div>
   </ion-content>
</div>