<div class="ion-page">
  <ion-content>
    <ion-item></ion-item>
    <ion-item color="primary">
      <h2 class="centrar">THE PERFECT STORM</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/the-perfect-storm/girl-sliding-in-the-perfect-storm.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Busca a alguien con quien competir y lánzate por dos sinuosos toboganes de tres pisos repletos de giros y descensos: Typhoon, Cyclone y Supercell. 
      Las condiciones son perfectas para The Perfect Storm.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">PISTOLAS LÁSER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/laser-tag/laser-tag-girl-aiming-laser-playing.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Dos fuerzas luchan en un combate con pistolas láser en un escenario que brilla en la oscuridad por el control del último planeta a años luz de distancia. 
      ¿Será tu equipo el que lo reclamará? Apúntate y averígualo en Battle for Planet Z.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">FLOWRIDER</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/harmony-of-the-seas-flowrider-action-shot.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Toma tu tabla y prepárate, 113.562 litros de aguas torrentosas te esperan. El surf siempre está activo en el simulador de surf de 12,1 metros de largo FlowRider
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="centrar">WONDERLAND</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/wonderland-imaginative-cuisine/assets/wonderland-desset-chocolate-fudge.jpg?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Las mejores noches comienzan con una increíble cena y experiencia gastronómica. Los principales chefs de Wonderland Imaginative Cuisine atraviesan la línea entre la fantasía 
      y la realidad al preparar cócteles creativos y platos diseñados para llevarte a un mundo desconocido de maravillas.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">LA COCTELERÍA SE FUSIONA CON LA TECNOLOGÍA</h2>
    </ion-item>
    <ion-img
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/bionic-bar/bionic-bar-lounge-area-wide-angle-technology.JPG?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      En Bionic Bar, dos bármanes robóticos toman pedidos en código binario y preparan bebidas a la perfección. Elige un cóctel especial del menú digital o 
      ingresa tu propia receta y observa cómo estos rápidos mezcladores realizan su trabajo en este bar robótico de crucero.
    </div>
    <p></p>
    <ion-item color="primary">
      <h2 class="align-center">GRANDES CABELLERAS Y GRANDES MOVIMIENTOS</h2>
    </ion-item>
    <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ship/symphony/hairspray-broadway-show.png?$711x443$">
    </ion-img>
    <p></p>
    <div class="align-center">
      Traslada tu noche a bordo a Broadway en uno de los mayores éxitos en escena de la historia: Hairspray. Es la oportunidad ideal para que disfrutes de tus canciones 
      favoritas mientras miras cómo Tracy Turnblad es el centro de atención y persigue sus sueños.
    </div>
   </ion-content>
</div>